.thought-reader {
    width    : 100vw;
    height   : 100vh;
    position : fixed;
    left     : 0px;
    top      : 0px;
    z-index  : 50;
    overflow : hidden;

    .thought-wrapper {
        border-radius   : 100%;
        left            : 50%;
        transform       : translate(-50%, -50%);
        position        : relative;
        top             : 50%;
        display         : flex;
        align-items     : center;
        justify-content : center;

        .thought-content {
            outline  : 1px solid red;

            .top-menu {

            }
        }
    }
}