.field {
    padding       : 17px 15px;
    border-radius : 6px;
    width         : 100%;
    border        : none;

    &.dark {
        background : #6D6D6D;

        &::placeholder {
            color : #D8D8D8;
        }
    }
}