body {
    line-height      : $line-height-body;
    font-family      : $font-family-body;
    font-weight      : $font-weight-body;
    color            : $color-body;
    letter-spacing   : $letter-spacing-body;
    background-color : $body-background-color;
    font-size        : $font-size-body;
    @include sm { font-size : $p-font-size-sm }
    @include xsm { font-size : $p-font-size-xsm }
    @include md { font-size : $p-font-size-md }
    @include xmd { font-size : $p-font-size-xmd }
    @include lg { font-size : $p-font-size-lg }
    @include xlg { font-size : $p-font-size-xlg }
    @include xxlg { font-size : $p-font-size-xxlg }
}

.ul li {
    list-style: dot;
}

[columns="2"] {
    grid-template-columns : repeat(2, minmax(0, 1fr));
    display               : grid;
    grid-gap              : $grid-gap;
}

p {
    margin      : $p-margin;
    font-size   : $p-font-size;
    line-height : $p-line-height;
    @include sm { font-size : $p-font-size-sm }
    @include xsm { font-size : $p-font-size-xsm }
    @include md { font-size : $p-font-size-md }
    @include xmd { font-size : $p-font-size-xmd }
    @include lg { font-size : $p-font-size-lg }
    @include xlg { font-size : $p-font-size-xlg }
    @include xxlg { font-size : $p-font-size-xxlg }
}

a,
button {
    cursor      : pointer;
    font-family : $font-family-body;
    font-size   : $font-size-body;
}

h1, 
.h1 {
    font-size   : $h1-font-size;
    font-weight : $h1-font-weight;
    line-height : $h1-line-height;
    margin      : $h1-margin;
    color       : $color-header;
    @include sm { font-size : $h1-font-size-sm }
    @include xsm { font-size : $h1-font-size-xsm }
    @include md { font-size : $h1-font-size-md }
    @include xmd { font-size : $h1-font-size-xmd }
    @include lg { font-size : $h1-font-size-lg }
    @include xlg { font-size : $h1-font-size-xlg }
    @include xxlg { font-size : $h1-font-size-xxlg }
}

h2, 
.h2 {
    font-size      : $h2-font-size;
    font-weight    : $h2-font-weight;
    line-height    : $h2-line-height;
    margin         : $h2-margin;
    color          : $color-header;
    letter-spacing : $h2-letter-spacing;
    @include sm { font-size : $h2-font-size-sm }
    @include xsm { font-size : $h2-font-size-xsm }
    @include md { font-size : $h2-font-size-md; margin : $h2-margin-md; }
    @include xmd { font-size : $h2-font-size-xmd; }
    @include lg { font-size : $h2-font-size-lg }
    @include xlg { font-size : $h2-font-size-xlg }
    @include xxlg { font-size : $h2-font-size-xxlg }
}

h3, 
.h3 {
    font-size   : $h3-font-size;
    font-weight : $h3-font-weight;
    line-height : $h3-line-height;
    margin      : $h3-margin;
    color       : $color-header;
    @include sm { font-size : $h3-font-size-sm }
    @include xsm { font-size : $h3-font-size-xsm }
    @include md { font-size : $h3-font-size-md }
    @include xmd { font-size : $h3-font-size-xmd }
    @include lg { font-size : $h3-font-size-lg }
    @include xlg { font-size : $h3-font-size-xlg }
    @include xxlg { font-size : $h3-font-size-xxlg }
}

h4, 
.h4 {
    font-size   : $h4-font-size;
    font-weight : $h4-font-weight;
    line-height : $h4-line-height;
    margin      : $h4-margin;
    color       : $color-header;
    @include sm { font-size : $h4-font-size-sm }
    @include xsm { font-size : $h4-font-size-xsm }
    @include md { font-size : $h4-font-size-md }
    @include xmd { font-size : $h4-font-size-xmd }
    @include lg { font-size : $h4-font-size-lg }
    @include xlg { font-size : $h4-font-size-xlg }
    @include xxlg { font-size : $h4-font-size-xxlg }
}

h5, 
.h5 {
    font-size   : $h5-font-size;
    font-weight : $h5-font-weight;
    line-height : $h5-line-height;
    margin      : $h5-margin;
    color       : #42629B;
    @include sm { font-size : $h5-font-size-sm }
    @include xsm { font-size : $h5-font-size-xsm }
    @include md { font-size : $h5-font-size-md }
    @include xmd { font-size : $h5-font-size-xmd }
    @include lg { font-size : $h5-font-size-lg }
    @include xlg { font-size : $h5-font-size-xlg }
    @include xxlg { font-size : $h5-font-size-xxlg }
}

h6, 
.h6 {
    font-size   : $h6-font-size;
    font-weight : $h6-font-weight;
    line-height : $h6-line-height;
    margin      : $h6-margin;
    color       : $color-header;
    @include sm { font-size : $h6-font-size-sm }
    @include xsm { font-size : $h6-font-size-xsm }
    @include md { font-size : $h6-font-size-md }
    @include xmd { font-size : $h6-font-size-xmd }
    @include lg { font-size : $h6-font-size-lg }
    @include xlg { font-size : $h6-font-size-xlg }
    @include xxlg { font-size : $h6-font-size-xxlg }
}

[debug="true"] {
    outline : 1px solid red;
}

.container {
    max-width     : 1024px;
    padding-left  : 15px;
    padding-right : 15px;
    margin        : 0 auto;
}