.button {
    color         : white;
    border-radius : 6px;
    font-weight   : bold;
    padding       : 17px 16px;
    width         : 100%;
    border        : none;

    &.default {
        background: #B45D5D;
    }

    &.success {
        background : #72AD63;
    }
}